<p id="notice"><%= notice %></p>

<h1>Provaiders</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @provaiders.each do |provaider| %>
      <tr>
        <td><%= link_to 'Show', provaider %></td>
        <td><%= link_to 'Edit', edit_provaider_path(provaider) %></td>
        <td><%= link_to 'Destroy', provaider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provaider', new_provaider_path %>
